@model IEnumerable<ProyectoAula4EmanuelGallego_SaraPineda.Models.tbPrecio>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Servicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Servicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precio)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdPrecios }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdPrecios }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdPrecios })
        </td>
    </tr>
}

</table>
