@model IEnumerable<ProyectoAula4EmanuelGallego_SaraPineda.Models.tbCliente>

@{
    ViewBag.Title = "Index";
}

<h2>Cliente</h2>

<p>
    @Html.ActionLink("Crear", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cedula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellidos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Celular)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estrato)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cedula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellidos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Celular)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Correo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estrato)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdCliente }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.IdCliente }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.IdCliente })
        </td>
    </tr>
}

</table>
