@model ProyectoAula4EmanuelGallego_SaraPineda.Models.tbEnergia

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tbEnergia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MetaAhorro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MetaAhorro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsumoActual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsumoActual)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PeriodoConsumo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PeriodoConsumo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbCliente.Cedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbCliente.Cedula)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdEnergia }) |
    @Html.ActionLink("Back to List", "Index")
</p>
