@model IEnumerable<ProyectoAula4EmanuelGallego_SaraPineda.Models.tbAgua>

@{
    ViewBag.Title = "Index";
}

<h2>Agua</h2>

<p>
    @Html.ActionLink("Ingresar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PromedioConsumo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConsumoActual)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PeriodoConsumo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbCliente.Cedula)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PromedioConsumo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConsumoActual)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PeriodoConsumo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbCliente.Cedula)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdAgua }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.IdAgua }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.IdAgua })
        </td>
    </tr>
}

</table>
